
    <ul>
        <li class="level1">
            <a asp-action="index" asp-controller="home">Startseite</a>
        </li>
        <li class="level1">
            <a asp-action="aboutUs" asp-controller="home">AboutUs</a>
        </li>
        <li class="level1">
            <a asp-action="impressum" asp-controller="home">Impressum</a>
        </li>
        <li class="level1">
            <a asp-action="index" asp-controller="shop">Shop</a>
        </li>
        <li class="level2">
            <a asp-action="returnArticles" asp-controller="shop">Rücksendungen</a>
        </li>
    </ul>

